# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è: –í–Ω–µ—Å–µ–Ω–Ω—è –æ–Ω–æ–≤–ª–µ–Ω—å –≤ –ë–î —ñ —Ä–æ–±–æ—Ç–∞ –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è–º–∏

–¶–µ –î–ó –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–µ –ø—ñ–¥ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è –Ω–∞ –ª–æ–∫–∞–ª—å–Ω—ñ–π –º–∞—à–∏–Ω—ñ. –í–∏–∫–æ–Ω–∞–Ω–Ω—è –∑ Google Colab –±—É–¥–µ —Å—É—Ç—Ç—î–≤–æ —É—Å–∫–ª–∞–¥–Ω–µ–Ω–µ.

## –ü—ñ–¥–≥–æ—Ç–æ–≤–∫–∞
1. –ü–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ —É –≤–∞—Å –≤—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω—ã –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. –°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ–∞–π–ª `.env` –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö classicmodels. –ë–∞–∑—É –¥–∞–Ω–∏—Ö –≤–∏ –º–æ–∂–µ—Ç–µ –æ—Ç—Ä–∏–º–∞—Ç–∏ —á–µ—Ä–µ–∑

  - docker-–∫–æ–Ω—Ç–µ–π–Ω–µ—Ä –∑–≥—ñ–¥–Ω–æ —ñ—Å–Ω—Ç—Ä—É–∫—Ü—ñ—ó –≤ [–¥–æ–∫—É–º–µ–Ω—Ç—ñ](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), —Ç–∞–∫–æ–∂ –≤—ñ–¥–µ–æ —ñ–Ω—Å—Ç—Ä—É–∫—Ü—ñ—ó –ø—Ä–∏—Å—É—Ç–Ω—ñ –Ω–∞ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ñ - —É—Ä–æ–∫–∏ "MySQL –±–∞–∑–∏, –∫–ª—ñ—î–Ω—Ç –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î, Docker —ñ ChatGPT –¥–ª—è –∑–∞–ø–∏—Ç—ñ–≤" —Ç–∞ "–Ø–∫ –≤—Å—Ç–∞–Ω–æ–≤–∏—Ç–∏ Docker –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –±–∞–∑–∞–º–∏ –¥–∞–Ω–∏—Ö –±–µ–∑ —Ç–µ—Ä–º—ñ–Ω–∞–ª—É"
  - –∞–±–æ –≤—Å—Ç–∞–Ω–æ–≤–∏–≤—à–∏ –ª–æ–∫–∞–ª—å–Ω–æ —Ü—é –ë–î - –¥–ª—è —Ü—å–æ–≥–æ –ø–µ—Ä–µ–≥–ª—è–Ω—å—Ç–µ —É—Ä–æ–∫ "–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ. –í—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω—è MySQL —Ç–∞  –ë–î –°lassicmodels –ª–æ–∫–∞–ª—å–Ω–æ".
  
  –ü—Ä–∏–∫–ª–∞–¥ `.env` —Ñ–∞–π–ª—É –º–∏ —Å—Ç–≤–æ—Ä—é–≤–∞–ª–∏ –≤ –ª–µ–∫—Ü—ñ—ó. –û—Å—å –π–æ–≥–æ –æ–±–æ–≤ º—è–∑–∫–æ–≤–µ –Ω–∞–ø–æ–≤–Ω–µ–Ω–Ω—è:
    ```
    DB_HOST=your_host
    DB_PORT=3306 –∞–±–æ 3307 - —Ç–æ–π, —è–∫–∏–π –í–∏ –Ω–∞–ª–∞—à—Ç—É–≤–∞–ª–∏
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  –Ø–∫—â–æ –≤–∏ —Å—Ç–≤–æ—Ä–∏–ª–∏ —Ü–µ–π —Ñ–∞–π–ª –ø—ñ–¥ —á–∞—Å –ø–µ—Ä–µ–≥–ª—è–¥—É –ª–µ–∫—Ü—ñ—ó - **–Ω–æ–≤–∏–π —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –Ω–µ —Ç—Ä–µ–±–∞**. –ó–∞–º—ñ–Ω—ñ—Ç—å –ª–∏—à–µ –Ω–∞–∑–≤—É –ë–î, –∞–±–æ –ø—Ä–æ–ø–∏—à—ñ—Ç—å –Ω–∞–∑–≤—É –≤ –∫–æ–¥—ñ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è (–∑–∞–º—ñ—Å—Ç—å –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–∞–∑–≤–∏ —Ü—ñ–ª—å–æ–≤–æ—ó –ë–î –∑—ñ –∑–º—ñ–Ω–Ω–∏—Ö –æ—Ç–æ—á–µ–Ω–Ω—è). –ê–ª–µ –ø–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ –¥–æ `.env` —Ñ–∞–π–ª –ª–µ–∂–∏—Ç—å –≤ —Ç—ñ–π —Å–∞–º—ñ–π –ø–∞–ø—Ü—ñ, —â–æ —ñ —Ü–µ–π –Ω–æ—É—Ç–±—É–∫.

  **–£–í–ê–ì–ê!** –ù–ï –∫–æ–ø—ñ—é–π—Ç–µ —Å–∫—Ä–∏—Ç –¥–ª—è **—Å—Ç–≤–æ—Ä–µ–Ω–Ω—è** `.env` —Ñ–∞–π–ª—É. –í –ª–µ–∫—Ü—ñ—ó –≤—ñ–Ω –Ω–∞–≤–æ–¥–∏—Ç—å—Å—è –¥–ª—è –ø—Ä–∏–∫–ª–∞–¥—É. –Ü –¥–∞–≤–∞–ª–æ—Å—å –ø–æ—è—Å–Ω–µ–Ω–Ω—è, —â–æ –≤ —Ä–µ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ—î–∫—Ç–∞—Ö –º–∏ –ù–Ü–ö–û–õ–ò –Ω–µ –ø–∏—à–µ–º–æ –¥–æ—Å—Ç—É–ø–∏ –¥–æ –±–∞–∑–∏ –≤ –∫–æ–¥—ñ. –ö–æ–ø—ñ—é–≤–∞–Ω–Ω—è —Å–∫—Ä–∏–ø—Ç–∞ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è `.env` —Ñ–∞–π–ª—É —Å—é–¥–∏ –≤ –î–ó –±—É–¥–µ –≤–≤–∞–∂–∞—Ç–∏—Å—å –≥—Ä—É–±–æ—é –ø–æ–º–∏–ª–∫–æ—é —ñ –º–∏ –∑–Ω—ñ–º–∞—Ç–∏–º–µ–º–æ –±–∞–ª–∏.

3. –ù–∞–ª–∞—à—Ç—É–π—Ç–µ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy –¥–æ –ë–î –∑–∞ –ø—Ä–∏–∫–ª–∞–¥–æ–º –≤ –ª–µ–∫—Ü—ñ—ó.

–†–µ–∫–æ–º–µ–Ω–¥—É—é –≤–∏–≤–µ—Å—Ç–∏ (–≤—ñ–¥–æ–±—Ä–∞–∑–∏—Ç–∏) –∑–º—ñ–Ω–Ω—É engine –ø—ñ—Å–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è. –í–æ–Ω–∞ –º–∞—î –±—É—Ç–∏ –Ω–µ None! –Ø–∫—â–æ None - –∑–Ω–∞—á–∏—Ç—å —É –í–∞—Å –Ω–µ –ø—ñ–¥—Ç—è–≥–Ω—É–ª–∏—Å—å –Ω–∞–ª–∞—à—Ç—É–≤–∞–Ω–Ω—è –∑ .env —Ñ–∞–π–ª–∞.

–í–∏ —Ç–∞–∫–æ–∂ –º–æ–∂–µ—Ç–µ –Ω–∞–ª–∞—à—Ç—É–≤–∞—Ç–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î –±–µ–∑ .env —Ñ–∞–π–ª–∞, –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ–ø–∏—Å–∞–≤—à–∏ —Ç–µ–∫—Å—Ç–æ–º –≤ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏—Ö –º—ñ—Å—Ü—è—Ö. –¶–µ - –Ω–µ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–∏–π –ø—ñ–¥—Ö—ñ–¥.


## –ó–∞–≤–¥–∞–Ω–Ω—è

### –ó–∞–≤–¥–∞–Ω–Ω—è 1: –û–Ω–æ–≤–ª–µ–Ω–Ω—è —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –ø—Ä–æ –∫–ª—ñ—î–Ω—Ç–∞ (2 –±–∞–ª–∏)

**–°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∫–ª—ñ—î–Ω—Ç–∞** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –º–æ–∂–ª–∏–≤–æ—Å—Ç—è–º–∏:
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è —Ç–µ–ª–µ—Ñ–æ–Ω—É –∫–ª—ñ—î–Ω—Ç–∞
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è email (—è–∫—â–æ –ø–æ–ª–µ —ñ—Å–Ω—É—î)
- –õ–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω –≤ –æ–∫—Ä–µ–º—É —Ç–∞–±–ª–∏—Ü—é

–í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –ø—ñ–¥—Ö—ñ–¥ –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–∏–º–∏ –∑–∞–ø–∏—Ç–∞–º–∏ —á–µ—Ä–µ–∑ `text()` —Ç–∞ `UPDATE` –æ–ø–µ—Ä–∞—Ç–æ—Ä.

–ó–∞–ø—É—Å—Ç—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —ó—ó —Ä–æ–±–æ—Ç—É, –∑–∞–ø—É—Å—Ç–∏–≤—à–∏ SELECT, —è–∫–∏–π –¥–æ–ø–æ–º–æ–∂–µ —Ü–µ –∑—Ä–æ–±–∏—Ç–∏.

In [1]:
!pip install sqlalchemy pymysql openpyxl requests python-dotenv --quiet

In [2]:
import datetime
import requests
import json
import os

from dotenv import load_dotenv
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table
from sqlalchemy.orm import sessionmaker

In [3]:
def create_connection():
    """
    –°—Ç–≤–æ—Ä—é—î –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy'–∏
    """
    # –ó–∞–≤–∞–Ω—Ç–∞–∂—É—î–º–æ –∑–º—ñ–Ω–Ω—ñ —Å–µ—Ä–µ–¥–æ–≤–∏—â–∞
    load_dotenv(override=True)

    # –û—Ç—Ä–∏–º—É—î–º–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –∑ environment variables
    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    if not all([user, password, database]):
        raise ValueError("–ù–µ –≤—Å—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ë–î –∑–∞–¥–∞–Ω—ñ –≤ .env —Ñ–∞–π–ª—ñ!")

    # –°—Ç–≤–æ—Ä—é—î–º–æ connection string
    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    # –°—Ç–≤–æ—Ä—é—î–º–æ engine –∑ connection pooling
    engine = create_engine(
        connection_string,
        pool_size=2,           # –†–æ–∑–º—ñ—Ä –ø—É–ª—É –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        max_overflow=20,        # –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        pool_pre_ping=True,     # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –ø–µ—Ä–µ–¥ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º
        echo=False              # –õ–æ–≥—É–≤–∞–Ω–Ω—è SQL –∑–∞–ø–∏—Ç—ñ–≤ (True –¥–ª—è debug)
    )

    # –¢–µ—Å—Ç—É—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()

        print("‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!")
        print(f"üîó {user}@{host}:{port}/{database}")
        print(f"‚ö° Engine: {engine}")

        return engine

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è: {e}")
        return None

# –°—Ç–≤–æ—Ä—é—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
engine = create_connection()

‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!
üîó root@127.0.0.1:3306/classicmodels
‚ö° Engine: Engine(mysql+pymysql://root:***@127.0.0.1:3306/classicmodels)

## –ó–∞–≤–¥–∞–Ω–Ω—è 1: –û–Ω–æ–≤–ª–µ–Ω–Ω—è —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –ø—Ä–æ –∫–ª—ñ—î–Ω—Ç–∞ (2 –±–∞–ª–∏)

In [4]:
create_logs_table = text("""
CREATE TABLE IF NOT EXISTS logs (
    id INT AUTO_INCREMENT PRIMARY KEY,
    log_time DATE NOT NULL,
    operation VARCHAR(255) NOT NULL,
    description TEXT
) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
""")

with engine.connect() as conn:
    conn.execute(create_logs_table)
    print("‚úÖ –¢–∞–±–ª–∏—Ü—è logs —Å—Ç–≤–æ—Ä–µ–Ω–∞ –∞–±–æ –≤–∂–µ —ñ—Å–Ω—É—î.")

‚úÖ –¢–∞–±–ª–∏—Ü—è logs —Å—Ç–≤–æ—Ä–µ–Ω–∞ –∞–±–æ –≤–∂–µ —ñ—Å–Ω—É—î.

In [5]:
def update_customer_contact(customerNumber, phone=None, email=None):
    today = datetime.date.today()
    log_messages = []

    with engine.connect() as conn:
        trans = conn.begin()
        try:
            # 1. –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞, —á–∏ —ñ—Å–Ω—É—î –ø–æ–ª–µ email –≤ –±–∞–∑—ñ
            result = conn.execute(text("""
                SELECT COLUMN_NAME 
                FROM INFORMATION_SCHEMA.COLUMNS 
                WHERE TABLE_SCHEMA = DATABASE() AND TABLE_NAME = 'customers' AND COLUMN_NAME = 'email'
            """)).fetchone()

            email_exists = result is not None

            # 2. –û–Ω–æ–≤–ª–µ–Ω–Ω—è —Ç–µ–ª–µ—Ñ–æ–Ω—É 
            if phone is not None:
                update_phone = text("""
                    UPDATE customers
                    SET phone = :phone
                    WHERE customerNumber = :customerNumber
                """)
                res_phone = conn.execute(update_phone, {'phone': phone, 'customerNumber': customerNumber})
                if res_phone.rowcount > 0:
                    log_messages.append("Phone updated")
                else:
                    log_messages.append("Phone update failed or no such customer")

            # 3. –û–Ω–æ–≤–ª–µ–Ω–Ω—è email (—è–∫—â–æ –ø–µ—Ä–µ–¥–∞–Ω–æ)
            if email is not None:
                if email_exists:
                    update_email = text("""
                        UPDATE customers
                        SET email = :email
                        WHERE customerNumber = :customerNumber
                    """)
                    res_email = conn.execute(update_email, {'email': email, 'customerNumber': customerNumber})
                    if res_email.rowcount > 0:
                        log_messages.append("Email updated")
                    else:
                        log_messages.append("Email update failed or no such customer")
                else:
                    log_messages.append("Email field does not exist, update skipped")

            # 4. –ó–∞–ø–∏—Å —É –ª–æ–≥
            if log_messages:
                insert_log = text("""
                    INSERT INTO logs (log_time, operation, description)
                    VALUES (:log_time, :operation, :description)
                """)
                description = f"Client {customerNumber}: " + "; ".join(log_messages)
                conn.execute(insert_log, {
                    'log_time': today,
                    'operation': 'UPDATE_CUSTOMER',
                    'description': description
                })

            trans.commit()
            print("Transaction committed.")
            return log_messages

        except SQLAlchemyError as e:
            trans.rollback()
            print("Error:", e)
            return None


# –û–Ω–æ–≤–ª–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç–∞
result = update_customer_contact(customerNumber=103, phone='+380681111111', email='125@gmail.com')
print("Logs:", result)


with engine.connect() as conn:
    logs = conn.execute(text("SELECT * FROM logs ")).fetchall()
    for log in logs:
        print(log)

Transaction committed.
Logs: ['Phone updated', 'Email field does not exist, update skipped']
(5, datetime.date(2025, 8, 3), 'UPDATE_CUSTOMER', 'Client 103: Phone updated; Email field does not exist, update skipped')
(6, datetime.date(2025, 8, 3), 'UPDATE_CUSTOMER', 'Client 103: Phone updated; Email field does not exist, update skipped')
(7, datetime.date(2025, 8, 5), 'UPDATE_CUSTOMER', 'Client 103: Phone updated; Email field does not exist, update skipped')

### –ó–∞–≤–¥–∞–Ω–Ω—è 2: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—î—é (5 –±–∞–ª—ñ–≤)

**–†–µ–∞–ª—ñ–∑—É–π—Ç–µ –ø—Ä–æ—Ü–µ—Å —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –∫—Ä–æ–∫–∞–º–∏ –≤ –æ–¥–Ω—ñ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó:
- –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—ñ `orders`
- –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π –≤ `orderdetails`
- –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
- –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ

–ó–∞–ø—É—Å—Ç—ñ—Ç—å –ø—Ä–æ—Ü–µ—Å –∑ —Ç–µ—Å—Ç–æ–≤–∏–º–∏ –¥–∞–Ω–∏–º–∏ —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —á–µ—Ä–µ–∑ SELECT, —â–æ –ø—Ä–æ—Ü–µ—Å —É—Å–ø—ñ—à–Ω–æ –≤—ñ–¥–ø—Ä–∞—Ü—é–≤–∞–≤ —ñ –±—É–ª–∏ –≤–∏–∫–æ–Ω–∞–Ω—ñ –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –æ–ø–µ—Ä–∞—Ü—ñ—ó.

In [6]:
def create_new_order(orderNumber, orderDate, requiredDate, shippedDate, status, comments, customerNumber,
                     productCode, quantityOrdered, priceEach, orderLineNumber):

    with engine.connect() as conn:
        trans = conn.begin()
        try:
            # –î–æ–¥–∞—î–º–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –≤ orders
            conn.execute(text("""
                INSERT INTO orders (orderNumber, orderDate, requiredDate, shippedDate, status, comments, customerNumber)
                VALUES (:orderNumber, :orderDate, :requiredDate, :shippedDate, :status, :comments, :customerNumber)
            """), {
                'orderNumber': orderNumber,
                'orderDate': orderDate,
                'requiredDate': requiredDate,
                'shippedDate': shippedDate,
                'status': status,
                'comments': comments,
                'customerNumber': customerNumber
            })
            print(f"‚úÖ –ö—Ä–æ–∫ 1: –ù–æ–≤–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è {orderNumber:,} –¥–æ–¥–∞–Ω–æ –≤ orders")

            # –î–æ–¥–∞—î–º–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –≤ orderdetails
            conn.execute(text("""
                INSERT INTO orderdetails (orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber)
                VALUES (:orderNumber, :productCode, :quantityOrdered, :priceEach, :orderLineNumber)
            """), {
                'orderNumber': orderNumber,
                'productCode': productCode,
                'quantityOrdered': quantityOrdered,
                'priceEach': priceEach,
                'orderLineNumber': orderLineNumber
            })
            print(f"‚úÖ –ö—Ä–æ–∫ 2: –ù–æ–≤–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è {orderNumber:,} –¥–æ–¥–∞–Ω–æ –≤ orderdetails")

            # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—É –Ω–∞ —Å–∫–ª–∞–¥—ñ
            stock_result = conn.execute(text("""
                SELECT quantityInStock
                FROM products
                WHERE productCode = :productCode
            """), {
                'productCode': productCode
            }).fetchone()

            if stock_result is None:
                raise ValueError(f"‚ùå –¢–æ–≤–∞—Ä –∑ –∫–æ–¥–æ–º {productCode} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ –≤ –±–∞–∑—ñ")

            quantity_in_stock = stock_result[0]
           
            if quantityOrdered > quantity_in_stock:
                raise ValueError(f"‚ùå –ù–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É –Ω–∞ —Å–∫–ª–∞–¥—ñ: –≤ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ {quantity_in_stock}, –ø–æ—Ç—Ä—ñ–±–Ω–æ {quantityOrdered}")
            else:
                print(f"‚úÖ –ö—Ä–æ–∫ 3: –ù–∞ —Å–∫–ª–∞–¥—ñ —î –¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É ({quantity_in_stock} —à—Ç.) –¥–ª—è –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è {quantityOrdered} —à—Ç.")

            # –û–Ω–æ–≤–ª–µ–Ω–Ω—è –∫-—Ç—ñ –Ω–∞ —Å–∫–ª–∞–¥—ñ
            new_quantity = quantity_in_stock - quantityOrdered
            conn.execute(text("""
                UPDATE products
                SET quantityInStock = :new_quantity
                WHERE productCode = :productCode
            """), {
                'new_quantity': new_quantity,
                'productCode': productCode
            })
            print(f"‚úÖ –ö—Ä–æ–∫ 4: –ö—ñ–ª—å–∫—ñ—Å—Ç—å —Ç–æ–≤–∞—Ä—É {productCode} –æ–Ω–æ–≤–ª–µ–Ω–∞: –∑ {quantity_in_stock} –Ω–∞ {new_quantity}")

            # –î–æ–¥–∞—î–º–æ –ª–æ–≥
            conn.execute(text("""
                INSERT INTO logs (log_time, operation, description)
                VALUES (:log_time, :operation, :description)
            """),  {
                'log_time': datetime.now(),
                'operation': "CREATE ORDER",
                'description': f"New order {orderNumber} created for customer {customerNumber}"
            })

        except Exception as e:
            trans.rollback()
            print("‚ùå –ü–æ–º–∏–ª–∫–∞:", e)
        else:
            trans.commit()
            print("‚úÖ –¢—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è —É—Å–ø—ñ—à–Ω–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∞")

In [7]:
from datetime import datetime, date
create_new_order(
    orderNumber=123456,
    orderDate=datetime.now().date(),
    requiredDate=datetime(2025, 8, 10).date(),
    shippedDate=datetime(2025, 8, 7).date(),
    status="In Process",
    comments="Test order for customer 103",
    customerNumber=103,
    productCode="S10_1678",
    quantityOrdered=5,
    priceEach=95.00,
    orderLineNumber=1)

‚úÖ –ö—Ä–æ–∫ 1: –ù–æ–≤–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è 123,456 –¥–æ–¥–∞–Ω–æ –≤ orders
‚úÖ –ö—Ä–æ–∫ 2: –ù–æ–≤–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è 123,456 –¥–æ–¥–∞–Ω–æ –≤ orderdetails
‚úÖ –ö—Ä–æ–∫ 3: –ù–∞ —Å–∫–ª–∞–¥—ñ —î –¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É (7933 —à—Ç.) –¥–ª—è –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è 5 —à—Ç.
‚úÖ –ö—Ä–æ–∫ 4: –ö—ñ–ª—å–∫—ñ—Å—Ç—å —Ç–æ–≤–∞—Ä—É S10_1678 –æ–Ω–æ–≤–ª–µ–Ω–∞: –∑ 7933 –Ω–∞ 7928
‚úÖ –¢—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è —É—Å–ø—ñ—à–Ω–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∞

In [8]:
with engine.connect() as conn:
    # orders
    orders = conn.execute(text("SELECT * FROM orders WHERE orderNumber = :orderNumber"), {"orderNumber": 123456}).fetchall()
    print("Orders:", orders)

    # orderdetails
    details = conn.execute(text("SELECT * FROM orderdetails WHERE orderNumber = :orderNumber"), {"orderNumber": 123456}).fetchall()
    print("Order Details:", details)

    # product info
    product = conn.execute(text("SELECT productCode, productName, quantityInStock FROM products WHERE productCode = :code"), {"code": "S10_1678"}).fetchone()
    print("Product Info:", product)

Orders: [(123456, datetime.date(2025, 8, 5), datetime.date(2025, 8, 10), datetime.date(2025, 8, 7), 'In Process', 'Test order for customer 103', 103)]
Order Details: [(123456, 'S10_1678', 5, Decimal('95.00'), 1)]
Product Info: ('S10_1678', '1969 Harley Davidson Ultimate Chopper', 7928)