#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [3]:
type(df)

pandas.core.frame.DataFrame

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [4]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [5]:
df.groupby('City')['Branch'].unique()

City
Mandalay     [B]
Naypyitaw    [C]
Yangon       [A]
Name: Branch, dtype: object

In [6]:
df.groupby('City')[['Total','cogs','Quantity', 'gross income']].agg(['sum','mean'])

                 Total                   cogs             Quantity            \
                   sum        mean        sum        mean      sum      mean
City
Mandalay   106197.6720  319.872506  101140.64  304.640482     1820  5.481928
Naypyitaw  110568.7065  337.099715  105303.53  321.047348     1831  5.582317
Yangon     106200.3705  312.354031  101143.21  297.480029     1859  5.467647

          gross income
                   sum       mean
City
Mandalay     5057.0320  15.232024
Naypyitaw    5265.1765  16.052367
Yangon       5057.1605  14.874001

–§—ñ–ª—ñ–∞–ª –° –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º —ñ —Å–∫–ª–∞–¥–∞—î 5265.18. –¶–µ–π —Ñ—ñ–ª—ñ–∞–ª –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –≤ –º—ñ—Å—Ç—ñ Naypyitaw. 
–î–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è —Ä—ñ—à–µ–Ω–Ω—è –ø—Ä–æ –≤—ñ–¥–∫—Ä–∏—Ç—Ç—è —â–µ –æ–¥–Ω–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω—É –≤ —Ü—å–æ–º—É –º—ñ—Å—Ç—ñ –±—É–ª–æ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω–æ –Ω–∞—Å—Ç—É–ø–Ω—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏: –∑–∞–≥–∞–ª—å–Ω–∞ —Å—É–º–∞ –ø—Ä–æ–¥–∞–∂—ñ–≤–∞, —Å–æ–±—ñ–≤–∞—Ä—Ç—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–Ω–æ—ó –ø—Ä–æ–¥—É–∫—Ü—ñ—ó, –∫-—Ç—å –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –≤–∞–ª–æ–≤–∏–π –¥–æ—Ö—ñ–¥. 
  –î–æ—Å–ª—ñ–¥–∏–≤—à–∏ –¥–∞–Ω—ñ, –±–∞—á–∏–º–æ, —â–æ –º—ñ—Å—Ç–æ Naypyitaw –º–∞—î –Ω–∞–π–∫—Ä–∞—â—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ —Å–µ—Ä–µ–¥ —É—Å—ñ—Ö –º—ñ—Å—Ç:
- –ù–∞–π–≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π –≤–∞–ª–æ–≤–∏–π –¥–æ—Ö—ñ–¥ ‚Äî 16,05
- –ù–∞–π–±—ñ–ª—å—à–∞ —Å–µ—Ä–µ–¥–Ω—è –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ç–æ–≤–∞—Ä—ñ–≤ —É —á–µ–∫—É ‚Äî 5,58
- –ù–∞–π–≤–∏—â–∏–π –∑–∞–≥–∞–ª—å–Ω–∏–π –æ–±—Å—è–≥ –ø—Ä–æ–¥–∞–∂—É ‚Äî 110‚ÄØ568,7
–û–¥–Ω–∞–∫, –º—ñ—Å—Ç–æ Naypyitaw  –º–∞—î –Ω–∞–π–≤–∏—â—É —Å–µ—Ä–µ–¥–Ω—é —Å–æ–±—ñ–≤–∞—Ä—Ç—ñ—Å—Ç—å —Ç–æ–≤–∞—Ä—ñ–≤, —Ç–æ–º—É –±—É–ª–æ –¥–æ–¥–∞—Ç–∫–æ–≤–æ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω–æ —Å–µ—Ä–µ–¥–Ω—ñ–π –≤—ñ–¥—Å–æ—Ç–æ–∫ –≤–∞–ª–æ–≤–æ–≥–æ –ø—Ä–∏–±—É—Ç–∫—É.
–†–µ–∑—É–ª—å—Ç–∞—Ç–∏ –ø–æ–∫–∞–∑–∞–ª–∏, —â–æ –≤—ñ–¥—Å–æ—Ç–æ–∫ –≤–∞–ª–æ–≤–æ–≥–æ –ø—Ä–∏–±—É—Ç–∫—É —î –æ–¥–Ω–∞–∫–æ–≤–∏–º –¥–ª—è –≤—Å—ñ—Ö –º—ñ—Å—Ç, —â–æ —Å–≤—ñ–¥—á–∏—Ç—å –ø—Ä–æ —Å—Ç–∞–±—ñ–ª—å–Ω—É —Ü—ñ–Ω–æ–≤—É –ø–æ–ª—ñ—Ç–∏–∫—É —Ç–∞ –º–∞—Ä–∂—É –ø—Ä–∏–±—É—Ç–∫–æ–≤–æ—Å—Ç—ñ.
–û—Ç–∂–µ,  –º–æ–∂–Ω–∞ –∑—Ä–æ–±–∏—Ç–∏ –≤–∏—Å–Ω–æ–≤–æ–∫ —â–æ –º—ñ—Å—Ç–æ —î –ø–µ—Ä—Å–ø–µ–∫—Ç–∏–≤–Ω–∏–º –¥–ª—è –≤—ñ–¥–∫—Ä–∏—Ç—Ç—è —â–µ –æ–¥–Ω–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω—É, –±–æ —Å–ø–æ–∂–∏–≤–∞—á—ñ –∞–∫—Ç–∏–≤–Ω–æ –∫—É–ø—É—é—Ç—å —Ç–∞ –≥–æ—Ç–æ–≤—ñ –≤–∏—Ç—Ä–∞—á–∞—Ç–∏ –±—ñ–ª—å—à–µ.

In [7]:
df.groupby('City')['gross margin percentage'].mean()

City
Mandalay     4.761905
Naypyitaw    4.761905
Yangon       4.761905
Name: gross margin percentage, dtype: float64

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [8]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Quantity', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [9]:
invoices_by_category.groupby('Branch')['Electronic accessories'].max()

Branch
A    60
B    55
C    55
Name: Electronic accessories, dtype: int64

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

**–ì—ñ–ø–æ—Ç–µ–∑–∞ 1 –Ø–∫—ñ —Ç–æ–≤–∞—Ä–∏ –Ω–∞–π–±—ñ–ª—å—à–µ —ñ –Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å –≤ —Ä–æ–∑—Ä—ñ–∑—ñ –≥–æ–¥–∏–Ω —Ç–∞ –¥–Ω—ñ–≤ —Ç–∏–∂–Ω—è**

In [10]:
df['Hour'] = df['Time' ].apply(lambda x: int(x.split(':')[0]))

In [11]:
res1 = pd.pivot_table(df, index='Product line', columns='Hour', values='Quantity', aggfunc='sum')
res1

Hour                     10   11   12   13   14   15  16   17   18   19   20
Product line
Electronic accessories   89   98   89   76   84   91  62   84  103  105   90
Fashion accessories      90   67   91  112   86   57  88   56   98  100   57
Food and beverages       90   89   63   67   78  124  74   35   79  138  115
Health and beauty        65   65   83  109  119   64  49   63   79   87   71
Home and lifestyle      100  113   71  111   49   99  51  123   59   88   47
Sports and travel        91   81  104  110   79   95  96   54   57  131   22

In [12]:
df['Date'] = pd.to_datetime(df['Date'])
df['Day'] = df['Date'].dt.day_name()

In [13]:
res2 = pd.pivot_table(df, index='Product line', columns='Day', values='Quantity', aggfunc='sum')
res2

Day,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
Product line,,,,,,,
Electronic accessories,101,124,159,134,213,151,89
Fashion accessories,156,92,179,103,119,119,134
Food and beverages,95,98,151,139,116,168,185
Health and beauty,145,140,107,80,96,155,131
Home and lifestyle,131,111,149,187,95,136,102
Sports and travel,130,73,174,135,116,133,159

–ù–∞–π–±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å:
13 -15  –≥–æ–¥–∏–Ω  - Fashion —Ç–∞ Health
17 -20 –≥–æ–¥–∏–Ω–∏ - Electronic, Food, Sports —Ç–∞ Home
–ù–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å:
16-18 –≥–æ–¥–∏–Ω—ñ - Electronic, Health, Fashion —Ç–∞ Food
–∑ 20 –≥–æ–¥–∏–Ω–∏ - Home —Ç–∞ Sports

–ù–∞–π–∞–∫—Ç–∏–≤–Ω—ñ—à—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è:
Fashion —Ç–∞ Sports –Ω–∞–π–±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å —É —Å—É–±–æ—Ç—É.
Food ‚Äî —É —Å–µ—Ä–µ–¥—É.
Home  ‚Äî —É –Ω–µ–¥—ñ–ª—é.
–ù–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å —É: 
–ø–æ–Ω–µ–¥—ñ–ª–æ–∫ -Fashion —Ç–∞ Sports 
—Å–µ—Ä–µ–¥–∞, —á–µ—Ç–≤–µ—Ä–≥ - Electronic —Ç–∞ Home 
–ø'—è—Ç–Ω–∏—Ü—é - Food 
–Ω–µ–¥—ñ–ª—é - Health

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:**  
1. –ó–∞–±–µ–∑–ø–µ—á–∏—Ç–∏ –ø—Ä–∏—Å—É—Ç–Ω—ñ—Å—Ç—å –ø–µ—Ä—Å–æ–Ω–∞–ª—É —É –ø—ñ–∫–æ–≤—ñ –≥–æ–¥–∏–Ω–∏ —Ç–∞ –ø—ñ–∫–æ–≤—ñ –¥–Ω—ñ( —â–æ–± –±—É–ª–æ –¥–æ—Å—Ç–∞—Ç–Ω—å–æ –∫–∞—Å–∏—Ä—ñ–≤, –Ω–∞—è–≤–Ω—ñ—Å—Ç—å –∫–æ–Ω—Å—É–ª—å—Ç–∞–Ω—Ç—ñ–≤)
2. –†–æ–∑—Ä–æ–±–∏—Ç–∏ —Å–∏—Å—Ç–µ–º—É –∑–Ω–∏–∂–æ–∫ –≤ —Ç–æ–π —á–∞—Å —ñ –≤ —Ç–æ–π –¥–µ–Ω—å –∫–æ–ª–∏ –Ω–∞–π–º–µ–Ω—à–µ –ø—Ä–æ–¥–∞—î—Ç—å—Å—è —Ç–æ–≤–∞—Ä( –Ω–∞ –ø—Ä–∏–∫–ª–∞–¥ –Ω–∞ —Ç–æ–≤–∞—Ä–∏ –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Sports –∑—Ä–æ–±–∏—Ç–∏ –∑–Ω–∏–∂–∫–∏ —É –ø–æ–Ω–µ–¥—ñ–ª–æ–∫)
3. –£ –ø—ñ–∫–æ–≤—ñ –≥–æ–¥–∏–Ω–∏ —Ç–∞ –¥–Ω—ñ –ø–æ–∫—É–ø—Ü—è–º –º–æ–∂–Ω–∞ –ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ –Ω–æ–≤—ñ —Ç–æ–≤–∞—Ä–∏, –∞–±–æ –ø—Ä–æ—Å—É–≤–∞—Ç–∏ —Ç–æ–≤–∞—Ä–∏ –∑ –±—ñ–ª—å—à –¥–æ—Ä–æ–∂—á–æ–≥–æ —Å–µ–≥–º–µ–Ω—Ç—É.
4. –°–ø–ª–∞–Ω—É–≤–∞—Ç–∏ –ª–æ–≥—ñ—Å—Ç–∏–∫—É —Ç–∞–∫–∏–º —á–∏–Ω–æ–º —â–æ–± –ø–æ–ø—É–ª—è—Ä–Ω—ñ —Ç–æ–≤–∞—Ä–∏ –±—É–ª–∏ –≤ –¥–æ—Å—Ç–∞—Ç–Ω—ñ–π –∫-—Ç—å –≤ –ø—ñ–∫–æ–≤—ñ –¥–Ω—ñ —Ç–∞ –≥–æ–¥–∏–Ω–∏

**–ì—ñ–ø–æ—Ç–µ–∑–∞ 2 –î–æ—Å–ª—ñ–¥–∏—Ç–∏ —Å–∫—ñ–ª—å–∫–∏ —ñ –Ω–∞ —è–∫—ñ —Ç–æ–≤–∞—Ä–∏ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å —á–æ–ª–æ–≤—ñ–∫–∏ —Ç–∞ –∂—ñ–Ω–∫–∏**

In [14]:
res4 = pd.pivot_table(df, index='Product line', columns='Gender', values='Total', aggfunc='sum')
res4

Gender                      Female        Male
Product line
Electronic accessories  27102.0225  27235.5090
Fashion accessories     30437.4000  23868.4950
Food and beverages      33170.9175  22973.9265
Health and beauty       18560.9865  30632.7525
Home and lifestyle      30036.8775  23825.0355
Sports and travel       28574.7210  26548.1055

–ú–∏ –±–∞—á–∏–º–æ —â–æ –≤ –±—ñ–ª—å—à–æ—Å—Ç—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤(Fashion,Food,Home —Ç–∞ Sports) –∂—ñ–Ω–∫–∏ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ –Ω—ñ–∂ —á–æ–ª–æ–≤—ñ–∫–∏. –í –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Health and beauty –±—ñ–ª—å—à–µ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å —á–æ–ª–æ–≤—ñ–∫–∏(—â–æ –¥–ª—è –º–µ–Ω–µ –±—É–ª–æ –Ω–µ—Ç–∏–ø–æ–≤–æ, –Ω–∞–ø–µ–≤–Ω–æ –≤ —Ü—ñ–π –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –±—ñ–ª—å—à–µ –∞–±–æ –ø—Ä–∏–≤–∞–±–ª–∏–≤—ñ—à–µ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤)—Ç–∞ Electronic accessories (–Ω–µ–∑–Ω–∞—á–Ω–∞ –ø–µ—Ä–µ–≤–∞–≥–∞).  

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:**  
–£ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö ***Fashion,Food,Home —Ç–∞ Sports*** –æ—Ä—ñ—î–Ω—Ç—É–≤–∞—Ç–∏—Å—è –Ω–∞ –∂—ñ–Ω–æ—á—É –∞—É–¥–∏—Ç–æ—Ä—ñ—é( —Ä–µ–∫–ª–∞–º–Ω—ñ –∞–∫—Ü—ñ—ó, –æ—Å–æ–±–∏—Å—Ç—ñ —Ä–æ–∑—Å–∏–ª–∫–∏), —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ —â–æ–± —Ä–æ–∑—à–∏—Ä–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç –∂—ñ–Ω–æ—á–æ–≥–æ —Ç–æ–≤–∞—Ä—É –≤ —Ü–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö.  

–£ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó ***Health and beauty*** –æ—Ä—ñ—î–Ω—Ç—É–≤–∞—Ç–∏—Å—è –Ω–∞ —á–æ–ª–æ–≤—ñ–∫—ñ–≤. –ú–æ–∂–ª–∏–≤–æ —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ —Ä–æ–∑—à–∏—Ä–µ–Ω–Ω—è —Ç–æ–≤–∞—Ä—ñ–≤ —ñ –¥–ª—è –∂—ñ–Ω–æ–∫, –±–æ –∑–∞–∑–≤–∏—á–∞–π –∂—ñ–Ω–∫–∏ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ –Ω–∞ –¥–æ–≥–ª—è–¥–æ–≤—ñ –∑–∞—Å–æ–±–∏.  

–û—Å–∫—ñ–ª—å–∫–∏ –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó ***Electronic accessories*** –ø—Ä–∏–±–ª–∏–∑–Ω–æ –æ–¥–Ω–∞–∫–æ–≤—ñ –≤–∏—Ç—Ä–∞—Ç–∏, —Ç–æ–º—É –≤–∞—Ä—Ç–æ –æ—Ä—ñ—î–Ω—Ç—É–≤–∞—Ç–∏—Å—è —è–∫ –Ω–∞ –∂—ñ–Ω–æ–∫ —Ç–∞–∫ —ñ –Ω–∞ —á–æ–ª–æ–≤—ñ–∫—ñ–≤.

**–ì—ñ–ø–æ—Ç–µ–∑–∞ 3 –•—Ç–æ —î –Ω–∞—à –ø–æ–∫—É–ø–µ—Ü—å( –∑ –∫–∞—Ä—Ç–∫–æ—é –º–∞–≥–∞–∑–∏–Ω–∞ —á–∏ –∑–≤–∏—á–∞–π–Ω–∏–π)**

In [15]:
res5 = pd.pivot_table(df, index='Product line', columns='Customer type', values='Total', aggfunc='sum')
res5

Customer type               Member      Normal
Product line
Electronic accessories  24498.4950  29839.0365
Fashion accessories     26323.9620  27981.9330
Food and beverages      31357.6200  24787.2240
Health and beauty       25831.0395  23362.6995
Home and lifestyle      27978.0270  25883.8860
Sports and travel       28234.3005  26888.5260

In [16]:
res6 = pd.pivot_table(df, index='Product line', columns='Customer type', values='Quantity', aggfunc='sum')
res6

Customer type           Member  Normal
Product line
Electronic accessories     429     542
Fashion accessories        439     463
Food and beverages         506     446
Health and beauty          428     426
Home and lifestyle         490     421
Sports and travel          493     427

–£ –±—ñ–ª—å—à–æ—Å—Ç—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤ (Food, Health, Home, Sports) —á–ª–µ–Ω–∏ –∫–ª—É–±—É –∫—É–ø—É—é—Ç—å —á–∞—Å—Ç—ñ—à–µ —ñ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ. –ê–ª–µ —É 2 –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö ‚Äî Electronic —Ç–∞ Fashion ‚Äî –ø–µ—Ä–µ–≤–∞–∂–∞—é—Ç—å –∑–≤–∏—á–∞–π–Ω—ñ –ø–æ–∫—É–ø—Ü—ñ, —è–∫ –∑–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—é, —Ç–∞–∫ —ñ –∑–∞ —Å—É–º–æ—é –≤–∏—Ç—Ä–∞—Ç.

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:**  
1.–ê–¥–∞–ø—Ç—É–≤–∞—Ç–∏ –ø—Ä–æ–≥—Ä–∞–º—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –∞–±–æ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥ —É —Ç–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö –¥–µ –∑–≤–∏—á–∞–π–Ω—ñ –ø–æ–∫—É–ø—Ü—ñ –ø–µ—Ä–µ–≤–∞–∂–∞—é—Ç—å.  
2.–†–æ–∑—Ä–æ–±–∏—Ç–∏ –∞–∫—Ü—ñ—ó —Ç–∞ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –¥–ª—è —á–ª–µ–Ω—ñ–≤ –∫–ª—É–±—É —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö Electronic —Ç–∞ Fashion